<app-navbar></app-navbar>
<app-card [card]="post" class="mb-2 flex justify-center"></app-card>
<div class="flex justify-center w-full">
  <div class="flex max-w-[48rem] w-full justify-start">
    <div class="flex">
      <button
        #addCommentButton
        (click)="toggleComment()"
        type="button"
        class="flex flex-row items-center mb-4 bg-zinc-900 rounded pl-2 pr-3 py-2 text-xs mr-3 hover:outline-none hover:bg-zinc-800"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          class="w-5 h-5 stroke-zinc-400"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"
          />
        </svg>
        <span class="ml-2 text-zinc-200 text-xs font-semibold">Comment</span>
      </button>
      <button
        #closeCommentButton
        (click)="toggleComment()"
        type="button"
        class="hidden flex flex-row items-center mb-2 bg-zinc-900 rounded pl-2 pr-3 py-2 text-xs mr-3 hover:outline-none hover:bg-zinc-800"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          class="w-5 h-5 stroke-red-500"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 15l-6 6m0 0l-6-6m6 6V9a6 6 0 0112 0v3"
          />
        </svg>
        <span class="ml-2 text-zinc-200 text-xs font-semibold">Close</span>
      </button>
    </div>
  </div>
</div>
<div class="flex justify-center w-full">
  <div class="flex max-w-[48rem] w-full justify-start">
    <div class="flex w-full">
      <div
        #commentBox
        class="hidden flex flex-col w-full rounded px-3 pb-3 py-3 bg-zinc-900"
      >
        <p
          class="text-xs text-red-500 mb-2"
          [ngClass]="isTextValid ? 'hidden' : 'block'"
        >
          Max. 1000 and min. 3 characters
        </p>
        <textarea
          #bodyText
          (input)="autoResize()"
          (click)="reset()"
          type="text"
          id="comment"
          [ngClass]="isTextValid ? '' : 'outline outline-red-500'"
          class="resize-none overflow-hidden px-3 py-2 bg-zinc-800 text-zinc-200 placeholder:text-zinc-500 rounded text-sm mb-3 text-zinc-50 focus:outline-none"
          placeholder="Comment's text goes here..."
        ></textarea>
        <div class="flex rounded-b bg-zinc-900">
          <button
            (click)="validateComment()"
            type="button"
            class="bg-indigo-600 rounded px-2 py-1 text-xs font-semibold text-zinc-50 mr-3 hover:outline-none hover:bg-indigo-700"
          >
            Comment
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Sort -->
<div class="flex justify-center">
  <div class="flex flex-row items-center w-[48rem] mb-4 ml-2">
    <select
      (change)="sortByOrder($event)"
      id="sort"
      class="text-xs mr-1 bg-zinc-950 border-zinc-950 outline-zinc-950 active:border-zinc-950 focus:border-zinc-950 pr-1 ml-0 font-bold text-zinc-500 focus:outline-none"
    >
      <option class="text-zinc-500 font-semibold" value="top" selected>
        Top
      </option>
      <option class="text-zinc-500 font-semibold" value="new">New</option>
      <!-- <option class="text-zinc-500 font-semibold" value="hot">Hot</option> -->
    </select>
    <select
      (change)="sortByDate($event)"
      id="sort"
      class="text-xs bg-zinc-950 border-zinc-950 outline-zinc-950 active:border-zinc-950 focus:border-zinc-950 pr-1 ml-0 font-bold text-zinc-500 focus:outline-none"
    >
      <option class="text-zinc-500 font-semibold" value="all" selected>
        All time
      </option>
      <option class="text-zinc-500 font-semibold" value="year">1 year</option>
      <option class="text-zinc-500 font-semibold" value="month">1 month</option>
      <option class="text-zinc-500 font-semibold" value="week">1 week</option>
      <option class="text-zinc-500 font-semibold" value="day">1 day</option>
      <option class="text-zinc-500 font-semibold" value="hour">1 hour</option>
    </select>
  </div>
</div>
<div *ngIf="comments.length == 0" class="flex justify-center w-full">
  <div class="flex max-w-[48rem] w-full justify-center">
    <div class="flex">
      <span class="text-zinc-200">No comments, currently.</span>
    </div>
  </div>
</div>
<div class="flex flex-col justify-center items-center mb-4">
  <app-comment
    *ngFor="let comment of comments"
    [comment]="comment"
    class="flex justify-center max-w-3xl w-full mb-2"
  ></app-comment>
</div>
