<div
  #localResponseContainer
  [ngClass]="
    localResponseType == 'Success'
      ? 'bg-green-600'
      : localResponseType == 'Error'
      ? 'bg-red-600'
      : ''
  "
  class="z-[999] hidden fixed bottom-0 w-full flex justify-center align-center py-1"
>
  <span #localResponse class="text-xs text-zinc-50"></span>
</div>

<!-- Instead of contentEditable create Input's with auto-resize functionality -->
<div class="justify-center max-w-3xl w-full">
  <!-- Header -->
  <div
    class="flex border-b border-zinc-700 rounded-t px-3 pt-2 pb-2 bg-zinc-900"
  >
    <div class="flex items-center">
      <div class="flex flex-row items-center w-full">
        <div
          class="flex flex-row mr-3 text-xs text-zinc-400"
          routerLink="/c/community"
        >
          c/<a
            routerLink="/c/{{ card.nameForDisplay }}"
            class="text-xs text-zinc-200 font-semibold"
            >{{ card.nameForDisplay }}</a
          >
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex border-b border-zinc-700 rounded-t px-3 pt-2 pb-2 bg-zinc-900"
  >
    <div class="flex items-center">
      <div class="flex flex-row items-center w-full">
        <div
          class="flex flex-row items-center max-w-max mr-3 text-xs text-zinc-400"
        >
          Posted by u/<a
            routerLink="/u/{{ card.usernameForDisplay }}"
            class="text-zinc-200 font-semibold"
            >{{ card.usernameForDisplay }}
          </a>
          <div class="text-zinc-400 ml-2">{{ card.createdAt }}</div>
          <button
            type="button"
            (click)="toggleEdit()"
            *ngIf="card.isAuthor"
            [ngClass]="isEditing || isRemoving ? 'hidden' : ''"
            class="ml-2 text-indigo-500"
          >
            Edit
          </button>
          <button
            type="button"
            (click)="toggleRemove()"
            *ngIf="card.isAuthor || card.isAdmin"
            [ngClass]="isRemoving || isEditing ? 'hidden' : ''"
            class="ml-2 text-indigo-500"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Reply header -->
  <div
    *ngIf="isComment"
    class="flex border-b border-zinc-700 rounded-t px-3 pt-2 pb-2 bg-zinc-900"
  >
    <div class="flex items-center">
      <div class="flex flex-row items-center w-full">
        <div
          class="flex flex-row items-center max-w-max mr-3 text-xs text-zinc-400"
        >
          {{ card.repliedTo ? "Replied to u/" : "Commented on" }}
          <a
            routerLink="/u/{{ card.repliedTo }}"
            class="text-zinc-200 font-semibold"
            >{{ card.repliedTo }}</a
          >
          <span class="ml-2 text-zinc-400 mr-3">
            {{ card.repliedToAt }}
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- Body -->
  <div class="bg-zinc-900 px-3 pt-2 pb-3 flex flex-col justify-between">
    <a
      [ngClass]="isEditing || isRemoving ? 'hidden' : ''"
      routerLink="/c/{{ card.nameForDisplay }}/p/{{ card.postId }}"
      class="flex flex-col"
    >
      <div
        *ngIf="card.title != '' && !isComment"
        class="text-zinc-50 font-bold text-xl mb-2"
      >
        {{ card.title }}
      </div>
      <div
        *ngIf="card.title != '' && isComment"
        class="text-zinc-400 text-xs mb-2"
      >
        {{ card.title }}
      </div>
      <p *ngIf="card.text != ''" class="text-sm text-zinc-200">
        {{ card.text }}
      </p>
    </a>
    <div
      [ngClass]="isEditing || isRemoving ? 'hidden' : ''"
      *ngIf="!isComment"
      class="flex mt-3"
    >
      <span
        *ngFor="let tag of card.tags"
        class="inline-block bg-zinc-800 rounded-full px-3 py-1 text-xs text-zinc-400 mr-2"
        >#{{ tag }}</span
      >
    </div>
    <div [ngClass]="isEditing ? '' : 'hidden'" class="flex flex-col">
      <p
        class="text-xs text-red-500 mb-2"
        [ngClass]="isEditTitleValid ? 'hidden' : 'block'"
      >
        Max. 50 and min. 5 characters
      </p>
      <textarea
        #editTitle
        (input)="autoResize()"
        type="text"
        class="resize-none overflow-hidden px-3 py-2 bg-zinc-800 text-zinc-200 placeholder:text-zinc-500 rounded text-sm mb-3 text-zinc-50 focus:outline-none"
        value="{{ card.title }}"
      ></textarea>
      <p
        class="text-xs text-red-500 mb-2"
        [ngClass]="isEditTextValid ? 'hidden' : 'block'"
      >
        Max. 10000 and min. 25 characters
      </p>
      <textarea
        #editText
        (input)="autoResize()"
        type="text"
        [ngClass]="isEditTextValid ? '' : 'outline outline-red-500'"
        class="resize-none overflow-hidden px-3 py-2 bg-zinc-800 text-zinc-200 placeholder:text-zinc-500 rounded text-sm mb-3 text-zinc-50 focus:outline-none"
        value="{{ card.text }}"
      ></textarea>
      <p
        class="text-xs text-red-500 mb-2"
        [ngClass]="isEditTagsValid ? 'hidden' : 'block'"
      >
        Max. 5 tags each with a limit of 30 characters; separate them with
        spaces
      </p>
      <textarea
        #editTags
        (input)="autoResize()"
        type="text"
        [ngClass]="isEditTagsValid ? '' : 'outline outline-red-500'"
        class="resize-none overflow-hidden px-3 py-2 bg-zinc-800 text-zinc-200 placeholder:text-zinc-500 rounded text-sm mb-3 text-zinc-50 focus:outline-none"
        value="{{ tagsPlaceholder }}"
      ></textarea>

      <div class="flex rounded-b bg-zinc-900">
        <button
          (click)="validatePost()"
          type="button"
          class="bg-indigo-600 rounded px-2 py-1 text-xs font-semibold text-zinc-50 mr-3 hover:outline-none hover:bg-indigo-700"
        >
          Update
        </button>
        <button
          (click)="toggleEdit()"
          type="button"
          class="bg-zinc-600 rounded px-2 py-1 text-xs font-semibold text-zinc-50 mr-3 hover:outline-none hover:bg-zinc-700"
        >
          Cancel
        </button>
      </div>
    </div>
    <div [ngClass]="isRemoving ? '' : 'hidden'" class="flex flex-col">
      <div
        #remove
        (input)="autoResize()"
        type="text"
        class="resize-none overflow-hidden text-zinc-200 placeholder:text-zinc-500 rounded text-sm mb-3 text-zinc-50 focus:outline-none"
      >
        Are you sure you want to remove this post?
      </div>
      <div class="flex rounded-b bg-zinc-900">
        <button
          (click)="removePost()"
          type="button"
          class="bg-red-600 rounded px-2 py-1 text-xs font-semibold text-zinc-50 mr-3 hover:outline-none hover:bg-red-700"
        >
          Remove
        </button>
        <button
          (click)="toggleRemove()"
          type="button"
          class="bg-zinc-600 rounded px-2 py-1 text-xs font-semibold text-zinc-50 mr-3 hover:outline-none hover:bg-zinc-700"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
  <!-- Actions -->
  <div
    class="flex flex-row space-x-8 rounded-b border-t border-zinc-700 px-3 pb-3 py-3 bg-zinc-900"
  >
    <div class="flex flex-row items-center space-x-2">
      <button (click)="like()" type="button" class="flex flex-row items-center">
        <svg
          *ngIf="!card.isLiked"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          class="stroke-zinc-400 w-5 h-5"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z"
          />
        </svg>
        <svg
          *ngIf="card.isLiked"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="w-5 h-5 fill-indigo-500"
        >
          <path
            d="M7.493 18.75c-.425 0-.82-.236-.975-.632A7.48 7.48 0 016 15.375c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75 2.25 2.25 0 012.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23h-.777zM2.331 10.977a11.969 11.969 0 00-.831 4.398 12 12 0 00.52 3.507c.26.85 1.084 1.368 1.973 1.368H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 01-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227z"
          />
        </svg>
      </button>
      <span class="text-zinc-200 text-xs font-semibold">{{
        card.likesCount
      }}</span>
      <button
        (click)="dislike()"
        type="button"
        class="flex flex-row items-center"
      >
        <svg
          *ngIf="!card.isDisliked"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          class="w-5 h-5 stroke-zinc-400"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M7.5 15h2.25m8.024-9.75c.011.05.028.1.052.148.591 1.2.924 2.55.924 3.977a8.96 8.96 0 01-.999 4.125m.023-8.25c-.076-.365.183-.75.575-.75h.908c.889 0 1.713.518 1.972 1.368.339 1.11.521 2.287.521 3.507 0 1.553-.295 3.036-.831 4.398C20.613 14.547 19.833 15 19 15h-1.053c-.472 0-.745-.556-.5-.96a8.95 8.95 0 00.303-.54m.023-8.25H16.48a4.5 4.5 0 01-1.423-.23l-3.114-1.04a4.5 4.5 0 00-1.423-.23H6.504c-.618 0-1.217.247-1.605.729A11.95 11.95 0 002.25 12c0 .434.023.863.068 1.285C2.427 14.306 3.346 15 4.372 15h3.126c.618 0 .991.724.725 1.282A7.471 7.471 0 007.5 19.5a2.25 2.25 0 002.25 2.25.75.75 0 00.75-.75v-.633c0-.573.11-1.14.322-1.672.304-.76.93-1.33 1.653-1.715a9.04 9.04 0 002.86-2.4c.498-.634 1.226-1.08 2.032-1.08h.384"
          />
        </svg>
        <svg
          *ngIf="card.isDisliked"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          class="w-5 h-5 fill-purple-500"
        >
          <path
            d="M15.73 5.25h1.035A7.465 7.465 0 0118 9.375a7.465 7.465 0 01-1.235 4.125h-.148c-.806 0-1.534.446-2.031 1.08a9.04 9.04 0 01-2.861 2.4c-.723.384-1.35.956-1.653 1.715a4.498 4.498 0 00-.322 1.672V21a.75.75 0 01-.75.75 2.25 2.25 0 01-2.25-2.25c0-1.152.26-2.243.723-3.218C7.74 15.724 7.366 15 6.748 15H3.622c-1.026 0-1.945-.694-2.054-1.715A12.134 12.134 0 011.5 12c0-2.848.992-5.464 2.649-7.521.388-.482.987-.729 1.605-.729H9.77a4.5 4.5 0 011.423.23l3.114 1.04a4.5 4.5 0 001.423.23zM21.669 13.773c.536-1.362.831-2.845.831-4.398 0-1.22-.182-2.398-.52-3.507-.26-.85-1.084-1.368-1.973-1.368H19.1c-.445 0-.72.498-.523.898.591 1.2.924 2.55.924 3.977a8.959 8.959 0 01-1.302 4.666c-.245.403.028.959.5.959h1.053c.832 0 1.612-.453 1.918-1.227z"
          />
        </svg>
      </button>
    </div>
    <a
      routerLink="/c/{{ card.nameForDisplay }}/p/{{ card.postId }}"
      type="button"
      class="flex flex-row items-center"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        class="stroke-zinc-400 w-5 h-5 outline-none"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"
        />
      </svg>
      <span class="ml-2 text-zinc-200 text-xs font-semibold">{{
        card.commentsCount
      }}</span>
    </a>
    <button
      *ngIf="!isComment"
      (click)="bookmark()"
      type="button"
      class="flex flex-row items-center"
    >
      <svg
        *ngIf="!card.isBookmarked"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        class="w-5 h-5 stroke-zinc-400"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z"
        />
      </svg>
      <svg
        *ngIf="card.isBookmarked"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        class="w-5 h-5 fill-indigo-500"
      >
        <path
          fill-rule="evenodd"
          d="M6.32 2.577a49.255 49.255 0 0111.36 0c1.497.174 2.57 1.46 2.57 2.93V21a.75.75 0 01-1.085.67L12 18.089l-7.165 3.583A.75.75 0 013.75 21V5.507c0-1.47 1.073-2.756 2.57-2.93z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
  </div>
</div>
