<div class="flex justify-center">
  <div class="flex flex-row items-center w-[48rem] mb-4 ml-2">
    <select
      id="sort"
      class="text-xs mr-1 bg-zinc-950 border-zinc-950 outline-zinc-950 active:border-zinc-950 focus:border-zinc-950 pr-1 ml-0 font-bold text-zinc-500 focus:outline-none"
    >
      <option class="text-zinc-500 font-semibold" value="top" selected>
        Top
      </option>
      <option class="text-zinc-500 font-semibold" value="new">New</option>
      <!-- <option class="text-zinc-500 font-semibold" value="hot">Hot</option> -->
    </select>
    <select
      id="sort"
      class="text-xs bg-zinc-950 border-zinc-950 outline-zinc-950 active:border-zinc-950 focus:border-zinc-950 pr-1 ml-0 font-bold text-zinc-500 focus:outline-none"
    >
      <option class="text-zinc-500 font-semibold" value="top" selected>
        Worldwide
      </option>
      <option class="text-zinc-500 font-semibold" value="new">Following</option>
    </select>
  </div>
</div>
