<app-navbar></app-navbar>
<app-writer
  [name]="nameFromParams"
  [commentsCount]="commentsCount"
  [createdAt]="createdAt"
  [followsCount]="followsCount"
  [isFollowing]="isFollowing"
  [isUser]="isUser"
  [postsCount]="postsCount"
></app-writer>
<div class="flex justify-center w-full">
  <div class="flex max-w-[48rem] w-full justify-start">
    <div class="flex flex-row items-center mb-4">
      <button
        #postsButton
        (click)="openPosts()"
        type="button"
        class="flex flex-row items-center bg-zinc-800 rounded px-3 py-2 text-xs mr-2 hover:outline-none hover:bg-zinc-800"
      >
        <span class="text-zinc-50 text-xs font-semibold">Posts</span>
      </button>
      <button
        #commentsButton
        (click)="openComments()"
        type="button"
        class="flex flex-row items-center bg-zinc-900 rounded px-3 py-2 text-xs hover:outline-none hover:bg-zinc-800"
      >
        <span class="text-zinc-200 text-xs font-semibold">Comments</span>
      </button>
    </div>
  </div>
</div>
<!-- Sort -->
<div class="flex justify-center">
  <div class="flex flex-row items-center w-[48rem] mb-4 ml-2">
    <select
      (change)="sortByOrder($event)"
      id="sort"
      class="text-xs mr-1 bg-zinc-950 border-zinc-950 outline-zinc-950 active:border-zinc-950 focus:border-zinc-950 pr-1 ml-0 font-bold text-zinc-500 focus:outline-none"
    >
      <option class="text-zinc-500 font-semibold" value="top" selected>
        Top
      </option>
      <option class="text-zinc-500 font-semibold" value="new">New</option>
      <!-- <option class="text-zinc-500 font-semibold" value="hot">Hot</option> -->
    </select>
    <select
      (change)="sortByDate($event)"
      id="sort"
      class="text-xs bg-zinc-950 border-zinc-950 outline-zinc-950 active:border-zinc-950 focus:border-zinc-950 pr-1 ml-0 font-bold text-zinc-500 focus:outline-none"
    >
      <option class="text-zinc-500 font-semibold" value="all" selected>
        All time
      </option>
      <option class="text-zinc-500 font-semibold" value="year">1 year</option>
      <option class="text-zinc-500 font-semibold" value="month">1 month</option>
      <option class="text-zinc-500 font-semibold" value="week">1 week</option>
      <option class="text-zinc-500 font-semibold" value="day">1 day</option>
      <option class="text-zinc-500 font-semibold" value="hour">1 hour</option>
    </select>
  </div>
</div>

<div #posts>
  <app-card
    *ngFor="let card of userPosts"
    [card]="card"
    [isInsideCommunity]="false"
    class="mb-4 flex justify-center"
  ></app-card>
</div>
<div #comments class="hidden">
  <app-card
    *ngFor="let card of userComments"
    [card]="card"
    [isInsideCommunity]="false"
    [isComment]="true"
    class="mb-4 flex justify-center"
  ></app-card>
</div>
